-- Crear una base de datos
CREATE DATABASE BDPRESTAMO;

-- Utilizar la base de datos recién creada
USE BDPRESTAMO;

CREATE TABLE CAT_BANCO (
COD_BANCO CHAR(3) PRIMARY KEY,
NOM_BANCO VARCHAR(60) 
)
GO

CREATE TABLE CAT_TIPO_DOCUMENTOIDENTIDAD (
COD_TIPO_DOCUMENTOIDENTIDAD CHAR(2) PRIMARY KEY,
DES_TIPO_DOCUMENTOIDENTIDAD VARCHAR(50)
)
GO

CREATE TABLE CAT_ESTADO (
COD_ESTADO CHAR(2) PRIMARY KEY,
DES_ESTADO VARCHAR(20)
)
GO

CREATE TABLE USUARIO (
COD_USUARIO VARCHAR(8) PRIMARY KEY,
APELLIDO_PATERNO VARCHAR(100),
APELLIDO_MATERNO VARCHAR(100),
NOMBRES VARCHAR(100),
USUARIO VARCHAR(20),
CONTRASENIA VARCHAR(20)
)
GO

CREATE TABLE TRABAJADOR (
COD_TRABAJADOR VARCHAR(8) PRIMARY KEY,
APELLIDO_PARTENO VARCHAR(100),
APELLIDO_MATERNMO VARCHAR(100),
NOMBRES VARCHAR(100),
COD_TIPO_DOCUMENTOIDENTIDAD CHAR(2),
NRO_DOCUMENTOIDENTIDAD VARCHAR(18),
DIRECCION VARCHAR(150),
TELEFONO VARCHAR(15),
COD_BANCO CHAR(3),
NRO_CUENTA_BANCARIA VARCHAR(20),
NRO_CUENTA_INTERBANCARIA VARCHAR(20)
FOREIGN KEY (COD_TIPO_DOCUMENTOIDENTIDAD) REFERENCES CAT_TIPO_DOCUMENTOIDENTIDAD (COD_TIPO_DOCUMENTOIDENTIDAD),
FOREIGN KEY (COD_BANCO) REFERENCES CAT_BANCO (COD_BANCO)
)
GO

CREATE TABLE SOLICITUD_CTA_TRABAJADOR 
(
COD_SOLICITUD VARCHAR(8) PRIMARY KEY,
COD_TRABAJADOR VARCHAR(8),
FECHA_SOLICITUD DATETIME,
MONTO_INGRESO NUMERIC(18,2),
MONTO_SOLICITAR NUMERIC(18,2),
NRO_CUOTAS_A_PAGAR INT,
COD_ESTADO CHAR(2),
DOCUMENTO_ADJUNTO VARBINARY(MAX),
DOCUMENTO_ENVIO VARBINARY(MAX),
FECHA_APROBACION DATETIME,
ESTADO_DESEMBOLSO BIT,
TXT_OBSERVACION VARCHAR(MAX)
FOREIGN KEY (COD_ESTADO) REFERENCES CAT_ESTADO (COD_ESTADO),
FOREIGN KEY (COD_TRABAJADOR) REFERENCES TRABAJADOR (COD_TRABAJADOR)
)
GO

CREATE TABLE HISTORIAL_TRABAJADOR
(
COD_HISTORIAL VARCHAR(8) PRIMARY KEY,
COD_TRABAJADOR VARCHAR(8),
COD_BANCO CHAR(3),
IMPORTE_PRESTAMO NUMERIC(18,2),
IMPORTE_PRESTAMO_RESTANTE NUMERIC(18,2),
FOREIGN KEY (COD_TRABAJADOR) REFERENCES TRABAJADOR (COD_TRABAJADOR)
)

